export DISCORD_TOKEN=abcd
export STEAM_TOKEN=efgh
export ARK_SERVER_ID=1234
export ARK_ALERTS_CHAN_ID=5678
export DOCKER_HOST='https://1.1.1.1:2376'
export GOOGLE_USER='example@email.com'
export GOOGLE_PASSWORD='password'
export POKEMAP_DOMAIN=www.example.com
